@{
    ViewData["Title"] = "Cadastro de Fornecedores";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo à tela de cadastro de Fornecedores</h1>
</div>

<div>
    <img src="~/img/logo-removebg-preview.png" alt="Logo da empresa" class="centered-image"/>
</div>

<style>
    .centered-image
    {
        display: block;
        margin: 80px auto;
        max-width: 100%;
        height: auto;
    }
</style>